doctype html
html
	head
		title = tutorial page
		//- Get Angular stuff from CDN
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")

		//- Get Bootstrap stuff from CDN
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

		//- Load our Angular app
		script(src='js/app.js')
	body(ng-app='app')
		//- The purple words after the periods are all 'classes', 'container', 'row' etc...
		//- All Bootstrap stuff must go inside an element with the container class.
		//- I'm using a div to hold the container, but you can use the body or something else.
		div.container(ng-controller='appCtrl')
			//- This is my first row
			div.row
				//- I want this Element to take up the width of the entire page
				//- Note: This row is now full. I can't put anything else here.
				div.col-xs-12
					h1 Full Page Width header
			//- So let's make a new row below the first one. It will have its own 12 columns.
			div.row
				//- This will take up to half the page
				div.col-xs-6 
					| This is a paragraph in the body of my tutorial page. I am writing more stuff in it to show that it will take half the page now.
				div.col-xs-6
					| This paragraph is taking up the other half of the page and is full of useful information to help you build cool websites and stuff.
			//- this tag makes a line across the page and makes things look a little better
			hr
			//- You don't have to use all 12 rows if you don't want to, it just looks weird.
			div.row
				//- Let's make a header 1/4 of the page
				div.col-xs-3
					| This text takes up 1/4 of the page
				//- Let's make a header that's offset into the page
				div.col-xs-offset-3
					| This text is offset 3 columns into the page

			div.row
				div.col-xs-12
					//- declare a form and a specific style of form
					form.form-horizontal(ng-submit='myFuncName(fn, ln, email)')
						//- form-group ensures optimum spacing
						div.form-group
							//- Use a label to tell users what goes in this text box
							label.col-xs-2 First Name:
							//- Create an input field to accept text from users. Input elements can accept many types of input.
							div.col-xs-6
								//- ng-model captures the value in the input field as a variable we can use.
								input(type='text' ng-model='fn')
						div.form-group
							label.col-xs-2 Last Name:
							div.col-xs-6
								input(type='text' ng-model='ln')
						div.form-group
							label.col-xs-2 E-mail:
							div.col-xs-6
								input(type='email' ng-model='email')
						//- This button activates ng-submit which calls the function in our controller
						div.form-group
							button.btn.btn-success.strong-button(type='submit') Submit
							//- This expression gets the value of $scope.number in the controller and displays it in the view.
					{{number}}
